{% extends 'base.html.twig' %}

{% block title %}Annonces index{% endblock %}

{% block body %}
    <h1>Annonces index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idannonce</th>
                <th>Titre</th>
                <th>Description</th>
                <th>DateDeb</th>
                <th>Avendre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.idannonce }}</td>
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.dateDeb ? annonce.dateDeb|date('Y-m-d') : '' }}</td>
                <td>{{ annonce.avendre ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('annonces_show', {'idannonce': annonce.idannonce}) }}">show</a>
                    <a href="{{ path('annonces_edit', {'idannonce': annonce.idannonce}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('annonces_new') }}">Create new</a>
{% endblock %}
