{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
    <h1>Produits index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idprod</th>
                <th>Reference</th>
                <th>Modele</th>
                <th>Categorie</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Echelle</th>
                <th>Fabriquant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.idprod }}</td>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.modele }}</td>
                <td>{{ produit.categorie }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.echelle }}</td>
                <td>{{ produit.fabriquant }}</td>
                <td>
                    <a href="{{ path('produits_show', {'idprod': produit.idprod}) }}">show</a>
                    <a href="{{ path('produits_edit', {'idprod': produit.idprod}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produits_new') }}">Create new</a>
{% endblock %}
